@define-color foreground #cdd6f4;
@define-color background #1a1b26;

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: Hack Nerd Font Bold;
  font-size: 12px;
}

.modules-left {
  margin-left: 0px;
}

.modules-right {
  margin-right: 0px;
}

#workspaces button {
  all: initial;
  padding: 0 4px;
  margin: 0 1.5px;
  min-width: 8px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#tray,
#cpu,
#battery,
#network,
#bluetooth,
#custom-power,
#pulseaudio {
  min-width: 12px;
  margin: 0 8px;
}

tooltip {
  padding: 2px;
}

/* === Power Menu === */
menu {
  border-radius: 10px;
  background: #161320;
  color: #B5E8E0;
  padding: 4px;
  border: 1px solid rgba(255,255,255,0.1);
}

menuitem {
  border-radius: 6px;
  padding: 4px 10px;
  font-size: 12px;
}

menuitem:hover {
  background: rgba(122,162,247,0.15);
  color: #7aa2f7;
}

