@define-color window_bg_color #181818;
@define-color accent_bg_color #3C3C3C;
@define-color theme_fg_color #d8d8d8;

* {
  all: unset;
}

.normal-icons {
  -gtk-icon-size: 15px;
}

.large-icons {
  -gtk-icon-size: 22px;
}

scrollbar {
  opacity: 0;
}

.box-wrapper {
  box-shadow:
    0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  background: @window_bg_color;
  padding: 15px;
  border-radius: 10px;
}

.preview-box,
.elephant-hint,
.placeholder {
  color: @theme_fg_color;
}

.search-container {
  border-radius: 5px;
}

.input placeholder {
  opacity: 0.5;
}

.input {
  caret-color: @theme_fg_color;
  background: lighter(@window_bg_color);
  padding: 10px;
  color: @theme_fg_color;
}

.list {
  color: @theme_fg_color;
}

.item-box {
  border-radius: 8px;
  padding: 6px;
}

.item-quick-activation {
  margin-left: 10px;
  background: alpha(@accent_bg_color, 0.25);
  border-radius: 5px;
  padding: 10px;
}

child:hover .item-box,
child:selected .item-box {
  background: alpha(@accent_bg_color, 0.25);
}

.item-subtext {
  font-size: 12px;
  opacity: 0.5;
}

.item-image {
  margin-right: 10px;
}

.preview {
  border: 1px solid alpha(@accent_bg_color, 0.25);
  padding: 10px;
  border-radius: 10px;
  color: @theme_fg_color;
}

.calc .item-text {
  font-size: 24px;
}

.symbols .item-image {
  font-size: 24px;
}

.todo.done .item-text-box {
  opacity: 0.25;
}

.todo.urgent {
  font-size: 24px;
}

.todo.active {
  font-weight: bold;
}

.bluetooth.disconnected {
  opacity: 0.5;
}

.preview .large-icons {
  -gtk-icon-size: 64px;
}

.keybinds-wrapper {
  border-top: 1px solid lighter(@window_bg_color);
  font-size: 12px;
  opacity: 0.5;
  color: @theme_fg_color;
}

